# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.discordrp.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\emirs\RiderProjects\discordrp-github\.idea\.idea.discordrp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
