# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.discordrp.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\emirs\RiderProjects\discordrp\.idea\.idea.discordrp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
